{% extends "layout.twig" %}

{% block content %}
  <h1> Add job </h1>
  <div class="alert alert-primary" role="alert">
    {{ responseMessage }}
  </div>
    <form action="/app/jobs/add" method="post" enctype="multipart/form-data" >
    <label for="">Title:</label>
    <input type="text" name="title"><br>
    <label for=""> Description:</label>
    <input type ="text" name="description"><br>
    <label for=""> Duracion:</label>
    <input type ="text" name="months"><br>
    <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
    <input type = "file" name= "logo" ><br>
    <button type="submit"> Save </button>
    </form>
 {% endblock %}



