 {% extends "layout.twig" %}


 {% block content %}
<h1> Dashboard</h1>
<ul>
   <li><a href="/app/users/add">Add user</a> </li>
   <li><a href="/app/jobs/add">Add jobs </a>  </li>
   <li><a href="/app/projects/add"> Add projects</a></li>
</ul>


<a href="/app/logout">Logout</a>
{% endblock %}