 {% extends "layout.twig" %}


 {% block content %}
<h1> Dashboard</h1>
<ul>
   <li><a href="/users/add">Add user</a> </li>
   <li><a href="/jobs/add">Add jobs </a>  </li>
   <li><a href="/projects/add"> Add projects</a></li>
   <li><a href="/"> INDEX</a></li>

</ul>


<a href="/logout">Logout</a>
{% endblock %}